  p {
    font: 14px/1.5 "Times New Roman", times, serif;
    padding: 30px 10px;
    border: 1px black solid;
    border-width: 1px 5px 5px 1px;
    border-color: red green blue yellow;
    margin: 10px 50px;
  }

  body {
    background: white url(http://www.htmldog.com/images/bg.gif) no-repeat top right;
  }